h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  text-wrap: pretty;
  font-family: Open Sans, sans-serif;
}
ul li {
  font-family: Open Sans, sans-serif !important;
}
footer span {
  font-family: Open Sans, sans-serif !important;
}
footer span a {
  font-family: Open Sans, sans-serif !important;
}
.open-sans-condensed {
  font-family: Open Sans Condensed, sans-serif !important;
}
.logo {
  display: inline-block;
  vertical-align: middle;
}
.container {
  max-width: 1140px;
}
.card {
  background: transparent;
}
.card-image {
  margin: 0;
  width: 100%;
}
.cta-btn {
  border-color: #102739;
  background: #102739;
  color: #fff;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  font-family: Lato, sans-serif;
  text-shadow: none;
  -webkit-transition: color 0.2s linear, background 0.2s linear,
    border-color 0.2s linear, text-shadow 0.2s linear;
  transition: color 0.2s linear, background 0.2s linear,
    border-color 0.2s linear, text-shadow 0.2s linear;
  -webkit-text-decoration: none;
  text-decoration: none;
  position: relative;
  min-height: 36px;
  min-width: 72px;
  padding: 8px 18px;
  font-family: Open Sans, sans-serif;
}
section#hero-banner p.p {
  font-size: 1rem;
  font-family: Open Sans, sans-serif;
  color: #444;
  line-height: 1.625;
}
section#hero-banner p.p-sub {
  font-size: 1.4rem;
  font-family: Open Sans, sans-serif;
  color: #444;
  line-height: 1.1;
  font-weight: 600;
}
h1 {
  line-height: 1.125;
  font-size: 2.5rem;
  color: #102739;
  font-family: Open Sans Condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
}
h2 {
  line-height: 1.125;
  font-size: 1.5rem;
  color: #102739;
  font-family: Open Sans Condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
}
h3 {
  font-size: 18px;
  font-weight: 700;
  font-family: Open Sans Condensed, sans-serif;
  color: #102739;
  margin-top: 25px;
  margin-bottom: 30px;
}
img.thebox {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 24px;
}
p {
  font-size: 1rem;
  font-family: Open Sans, sans-serif;
  color: #444;
  line-height: 1.625;
}
.blue-text {
  color: #102739;
}
hr {
  opacity: 1;
}
#hero-banner {
  background-image: url(https://cdn.shopify.com/s/files/1/1190/7174/files/hero-banner.jpg?v=1708930289);
  background-color: #0000;
  border-color: #0000;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#celebrate-banner img.thestar {
  display: inline-block;
  vertical-align: middle;
  max-width: 45px;
}
#celebrate-banner {
  background-image: url(https://cdn.shopify.com/s/files/1/1190/7174/files/package-banner.jpg?v=1708930289);
  background-color: #0000;
  border-color: #0000;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
section#unforgettable-event,
section#faq-section,
section#testimonials {
  background-color: #0000;
  border-color: #0000;
  background-image: linear-gradient(#0000, #0000),
    url(https://cdn.shopify.com/s/files/1/1190/7174/files/bg-sky.jpg?v=1708916383);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.our-approach-header {
  font-size: 32px;
  padding-bottom: 20px;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.kol-blue {
  color: #102739;
}
.kol-btn {
  border-color: #102739;
  background: #102739;
  color: #fff;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  font-family: Lato, sans-serif;
  text-shadow: none;
  -webkit-transition: color 0.2s linear, background 0.2s linear,
    border-color 0.2s linear, text-shadow 0.2s linear;
  transition: color 0.2s linear, background 0.2s linear,
    border-color 0.2s linear, text-shadow 0.2s linear;
  -webkit-text-decoration: none;
  text-decoration: none;
  position: relative;
  font-weight: 700;
  min-height: 48px;
  min-width: 96px;
  padding: 14px 24px;
  font-family: Open Sans, sans-serif;
}
.kol-btn:hover,
.cta-btn:hover {
  background: #020406;
}
.bar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.bar-list li {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMGMtNi42MjcgMC0xMiA1LjM3My0xMiAxMnM1LjM3MyAxMiAxMiAxMiAxMi01LjM3MyAxMi0xMi01LjM3My0xMi0xMi0xMnptLTEuOTU5IDE3bC00LjUtNC4zMTkgMS4zOTUtMS40MzUgMy4wOCAyLjkzNyA3LjAyMS03LjE4MyAxLjQyMiAxLjQwOS04LjQxOCA4LjU5MXoiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: 0 5px;
  background-size: 16px 16px;
  padding-left: 35px;
}
li {
  padding-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .overlayed-images {
    padding-top: 20px;
    max-width: 100%;
  }
  #hero-banner,
  #celebrate-banner {
    background-image: url(https://cdn.shopify.com/s/files/1/1190/7174/files/bg-sky.jpg?v=1708916383);
  }
  img.thestar {
    margin: 0 0 0 16px !important;
  }
  li {
    padding-bottom: 5px;
  }
  .unforgettable-event-btn {
    justify-content: start !important;
  }
  .beer-kegs-btn {
    margin-bottom: 15px;
  }
  section#celebrate-with-us div div div div,
  section#unforgettable-event div div div div,
  section#beer-kegs div div div div {
    padding-right: 12px !important;
  }
  .mobile-bar {
    margin-bottom: 5px;
  }
  .food-drinks-packages {
    flex-direction: column;
  }
  #footer-top {
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    gap: 30px;
  }
}
@media screen and (max-width: 524px) {
  .lets-drink-to-that {
    flex-direction: column;
    gap: 20px;
    align-items: start !important;
  }
}
.accordion-item {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  margin: 10px 0;
  color: #162130;
  font-size: 1.15rem;
  font-weight: 600;
  border: none;
  background: transparent;
  outline: none;
  border-radius: 10px;
  justify-content: space-between;
}
.accordion-button {
  font-family: Roboto, sans-serif;
  font-size: 1.15rem;
  font-weight: 600;
  color: #162130;
}
.accordion-body {
  background: transparent;
  font-weight: 400;
  font-family: Barlow, sans-serif;
  color: #444;
  font-size: 16px;
}
.accordion-button.accordion-button:not(.collapsed),
.accordion-button:focus {
  background: #fff;
  outline: none;
  border: none;
  box-shadow: none;
}
footer {
  background-color: #162130;
}
#footer-bottom {
  background-color: #121a26;
}
.accordion-button:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
}
.accordion-button:not(.collapsed):after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}
section#pre-footer-img {
  background-image: url(https://cdn.shopify.com/s/files/1/1190/7174/files/cocktails-4.jpg?v=1708930289);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
section#contact-us {
  background-color: #f7f7f7;
  border-color: #f7f7f7;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=/s/files/1/1190/7174/files/KLL-private-event-styles.css.map?v=1709013138 */
